*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
}
body{
    background: black;
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}
section img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
section{
    display: flex;
    align-items: center;
}
#pesquisa {
    margin-left: 40px;
    padding: 6PX 0px 6px 45px;
    border-radius: 10px;
    outline: none;
    background-color: black;
    border: solid 1px white;
    color: white;
}
#pesquisa::placeholder{
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
a{
    margin: 50px;
}
.material-icons{
    position: absolute;
    left: 230px;
    color: white;
    border-right: 1px solid white;
}
hr{
    margin-left: 50px;
    margin-right: 50px;
}
nav a{
    color: white;
    padding: 10px;
    border-radius: 20px;
}
nav a:hover{
    color: red;
    box-shadow: 1px 3px red;
}
nav a:active{
    color: rgb(139, 0, 0);
    box-shadow: 0px 1px rgb(255, 0, 0);
}

