*{
    margin: 0;
    font-size: 16px;
}
body{
    background-color: rgb(122, 122, 122);
}
main{
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(rgb(2rgb(117, 117, 117)55, 255), rgb(71, 71, 71), rgb(0, 0, 0), alpha);
}

