*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}
img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
}
section{
    display: flex;
    align-items: center;
}
input{
    margin-left: 20px;
    width: 20%;
    padding: 5PX 0px 5px 40px;
    border-radius: 10px;
    outline: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    margin: 50px;
}

